* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;


}

//ajustar as fontes caso seja alterada
@media (max-width: 1080px) {
  html {
    font-size: 93.75%;
  }
}
@media (max-width: 720px) {
  html {
    font-size: 87.5%;
  }
}


body,
input,
textarea,
button {
  font: 500 1rem Inter, sans-serif;
  background: url(../../public/images/background-img.jpg) no-repeat fixed;
  background-size: cover;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  font-family: Lexend, sans-serif;
  color: var(--gray-800);
}

h1 {
  font-size: 2rem;
}
h2 {
  font-size: 1.5rem;
}
button {
  cursor: pointer;
}
